# API Documentation

This repository is composed of two principal portions - OpenManage Enterprise (OME) API usage examples and plugins.

API usage examples are stored in PowerShell and Python for PowerShell and Python examples respectively.
Parity is generally maintained between PowerShell and Python examples. Available scripts are listed for each functionality
shown below. 

You can find a current copy of the OME API documentation [here](https://dl.dell.com/topicspdf/dell-openmanage-enterprise_Reference-Guide2_en-us.pdf).

## Table of Contents
<div class="toc">
<ul>
<li><a href="#deploy-scripts">Deploy Scripts</a></li>
<ul>
{% for module_key,module_value in module_data['deploy'].items() %}
<li><a href="{{ module_value['anchor_link'] }}">{{ module_value['readable_name'] }}</a></li>
{% endfor %}
</ul>
<li><a href="#update-scripts">Update Scripts</a></li>
<ul>
{% for module_key,module_value in module_data['update'].items() %}
<li><a href="{{ module_value['anchor_link'] }}">{{ module_value['readable_name'] }}</a></li>
{% endfor %}
</ul>
<li><a href="#monitor-scripts">Monitor Scripts</a></li>
<ul>
{% for module_key,module_value in module_data['monitor'].items() %}
<li><a href="{{ module_value['anchor_link'] }}">{{ module_value['readable_name'] }}</a></li>
{% endfor %}
</ul>
<li><a href="#maintenance-scripts">Maintenance Scripts</a></li>
<ul>
{% for module_key,module_value in module_data['maintain'].items() %}
<li><a href="{{ module_value['anchor_link'] }}">{{ module_value['readable_name'] }}</a></li>
{% endfor %}
</ul>
<li><a href="#supportassist-enterprise-ome-plugin-scripts">SupportAssist Enterprise Plugin Scripts</a></li>
<ul>
{% for module_key,module_value in module_data['supportassistenterprise'].items() %}
<li><a href="{{ module_value['anchor_link'] }}">{{ module_value['readable_name'] }}</a></li>
{% endfor %}
</ul>
<li><a href="#ome-power-manager-plugin-scripts">OME Power Manager Plugin Scripts</a></li>
<ul>
{% for module_key,module_value in module_data['powermanager'].items() %}
<li><a href="{{ module_value['anchor_link'] }}">{{ module_value['readable_name'] }}</a></li>
{% endfor %}
</ul>
</ul>
</div>

## Deploy Scripts
Deploy scripts include those things for discovery and generating the initial inventory, configuration, and os deployment.
{% for module_key,module_value in module_data['deploy'].items() %}
---
### {{ module_value['readable_name'] }}

#### Available Scripts
{% for file in module_value['available_scripts'] %}
- [{{file}}](../{{ 'Python' if '.py' in file else 'PowerShell' }}/{{ file }})
{% endfor %}

{{ module_value['docstring'] }}

{% if module_value['powershell_example'] %}
#### PowerShell Example
```
{{ module_value['powershell_example'] }}
```
{% endif %}
{% endfor %}

## Update Scripts
Update scripts include those things for BIOS, firmware, and driver updates.
{% for module_key,module_value in module_data['update'].items() %}
---
### {{ module_value['readable_name'] }}

#### Available Scripts
{% for file in module_value['available_scripts'] %}
- [{{file}}](../{{ 'Python' if '.py' in file else 'PowerShell' }}/{{ file }})
{% endfor %}

{{module_value['docstring']}}

{% if module_value['powershell_example'] %}
#### PowerShell Example
```
{{ module_value['powershell_example'] }}
```
{% endif %}
{% endfor %}

## Monitor Scripts
Monitor scripts include those things for checking alerts, health, performance, power status, and other pre-existing status data.
{% for module_key,module_value in module_data['monitor'].items() %}
---
### {{ module_value['readable_name'] }}

#### Available Scripts
{% for file in module_value['available_scripts'] %}
- [{{file}}](../{{ 'Python' if '.py' in file else 'PowerShell' }}/{{ file }})
{% endfor %}

{{module_value['docstring']}}

{% if module_value['powershell_example'] %}
#### PowerShell Example
```
{{ module_value['powershell_example'] }}
```
{% endif %}
{% endfor %}

## Maintenance Scripts
Maintenance scripts include those things for reprovisioning, remediation, and general upkeep of devices.
{% for module_key,module_value in module_data['maintain'].items() %}
---
### {{ module_value['readable_name'] }}

#### Available Scripts
{% for file in module_value['available_scripts'] %}
- [{{file}}](../{{ 'Python' if '.py' in file else 'PowerShell' }}/{{ file }})
{% endfor %}

{{module_value['docstring']}}

{% if module_value['powershell_example'] %}
#### PowerShell Example
```
{{ module_value['powershell_example'] }}
```
{% endif %}
{% endfor %}

## SupportAssist Enterprise OME Plugin Scripts
[SupportAssist Enterprise](https://www.delltechnologies.com/en-us/services/support-deployment-technologies/support-assist-enterprise.htm#accordion0) is a product for managing the lifecycle of your servers and any cases you open against them. Some features it includes:
- Configurable to automatically open cases when issues arise
- Case tracking from beginning to end
- Automatic creation of SupportAssist packages for cases so that you no longer have to manually retrieve logs on support's behalf.
- Automation of parts dispatch information
- SupportAssist site health monitoring
{% for module_key,module_value in module_data['supportassistenterprise'].items() %}
---
### {{ module_value['readable_name'] }}

#### Available Scripts
{% for file in module_value['available_scripts'] %}
- [{{file}}](../{{ 'Python' if '.py' in file else 'PowerShell' }}/{{ file }})
{% endfor %}

{{module_value['docstring']}}

{% if module_value['powershell_example'] %}
#### PowerShell Example
```
{{ module_value['powershell_example'] }}
```
{% endif %}
{% endfor %}

## OME Power Manager Plugin Scripts
[Dell Power Manager](https://www.dell.com/support/manuals/en-us/openmanage-enterprise-power-manager/pmp_1.2_ug/introduction-to-power-manager)
 is a plugin for OME which allows fine grained tracking and control of device power consumption including
per device utilization and anomalous behavior. Power Manager alerts and reports about power and thermal events in servers,
 chassis, and custom groups consisting of servers and chassis.

**Script Use Cases**
- Alerts & Reports
	Scripts for Power Manager specific Alerts & Reports use cases
- Devices & Monitoring List
	Scripts for finding Power Manager capable devices & monitoring list action use cases
- Import Physical Hierarchy
	Script for importing Physical Group and Device Association from a CSV file
- Metrics & Monitoring
	Scripts for Power Manager specific metrics & monitoring use cases
- Misc Scripts
	Scripts for Power Manager specific some miscellaneous feature use cases
- Policy & EPR
	Scripts for Power Manager specific Policy & EPR use cases
{% for module_key,module_value in module_data['powermanager'].items() %}
---
### {{ module_value['readable_name'] }}

#### Available Scripts
{% for file in module_value['available_scripts'] %}
- [{{file}}](../{{ 'Python' if '.py' in file else 'PowerShell' }}/{{ file }})
{% endfor %}

{{module_value['docstring']}}

{% if module_value['powershell_example'] %}
#### PowerShell Example
```
{{ module_value['powershell_example'] }}
```
{% endif %}
{% endfor %}